{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block banner %}


    <img alt="kapper" src="{{ asset('img/kapper banner.jpg') }}" width="100%" height="300">


{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1 class="text-center">Welkom bij kapper knipt je mooi</h1>

        <h3 class="text-center">Dames kapsalon</h3>

        <p class="text-center">Welkom bij dames kapsalon. Bij deze kapsalon bieden we jou een heleboel dingen aan <br>Zoals
            Behandelingen haren wassen categorien etc</p>


    </div>

{% endblock %}
